#contact {
    padding: 5rem 0;

    .btn {
        color: $light;
        margin-bottom: 2rem;
    }

    p:nth-child(odd) {
        color: $primary;
        font-size: 1rem;
    }

    p:nth-child(even) {
        color: #6d6d6d;
        font-size: .9rem;
        font-weight: 400;
    }

    input, 
    textarea {
        margin-bottom: 1rem;
        color: #6d6d6d;
        padding: 1.5rem;
    }

    @include breakpoint (medium) {

        input, 
        textarea {
            margin-bottom: 2.5rem;
        }

        input:nth-child(odd) {
            margin-right: 2rem;
        }
        
        .btn {
            padding: .5rem 2rem;
            margin-bottom: 0;
        }
    }
}