#our-services {

    padding: 3rem 0;

    .what-we-do {
        padding: 1rem;
        background-color: $light;
        width: 23.125rem;
        margin: auto;

        // p {
        //     color: #7a7a7a;
        //     font-weight: 600;
        //     font-size: 1.125rem;
        //     margin-bottom: .5rem;
        // }

        // h2 {
        //     color: $primary;
        //     font-size: 2.25rem;
        //     font-weight: 700;
        //     margin-bottom: .8rem;
        // }

        .services__list {
           display: grid;
           grid-template-columns: 50px 1fr;
           grid-column-gap: 1.5rem;
           padding: 1rem 0;

           &-image {
               margin-top: 8px;
           }

           &-heading {
             color: $primary;
             font-weight: 600;
             font-size: 1.3rem;
             margin-bottom: .8rem;
           }

           &-description {
            color: #686868;
            font-weight: 200;
           }
        }
    }

    @include breakpoint(medium) {
        // padding: ;

        .what-we-do {
            width: 40rem;
        }
    }

    @include breakpoint(large) {
        background-image: url('../images/our-services/right-70.png');
        background-position: top;

        .what-we-do {
            width: 45rem;
            padding: 1.5rem 2.5rem;
        }
    }

    @include breakpoint(xlarge) {
        padding: 7rem 0;
        background-image: url('/images/our-services/left-30.png'), url('/images/our-services/right-70.png');
        background-position: top left, top right;
        background-repeat: no-repeat, no-repeat;
        background-size: 35%, 65%;
        height: 47rem;

        .what-we-do {
            width: 55rem;
            padding: 2rem 3rem;
        }
    }
}