#our-team {
    padding: 10rem 0 3rem 0;

    .wrapper {
        background-color: $light;
        margin: auto;

        .work-description {
            color: #7a7a7a;
            font-weight: 400;
            font-size: 1rem;
        }

         // Carousel item
        .carousel {
            margin: 2rem 0;

            &__image {
                height: 300px;
                width: 300px;
                margin-bottom: 2rem;
            }

            &__heading {
                color: $primary;
                font-weight: 600;
                font-size: 1.3rem;
                margin-bottom: .5rem;
            }

            &__info {
                color: #7a7a7a;
                font-size: .8rem;
                font-weight: 200;
                margin-bottom: 1rem;
            }

            &__description {
                font-size: 1rem;
                font-weight: 500;
            }
        }

    }

    @include breakpoint(medium) {

        padding: 12rem 0 4rem 0;
        .wrapper {
            .carousel {
                &__description {
                    width: 300px;
                    margin: auto;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .carousel-inner .carousel-item > div {
            display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    }

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@include breakpoint(medium){
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

    @include breakpoint(large) {
        .wrapper {
            .work-description {
                font-size: 1.125rem;
            }
        }
    }

}